<ion-menu [content]="content">
    <ion-toolbar>
        <ion-title>Back2Basics</ion-title>
    </ion-toolbar>
    <ion-content class="menu-list-container">
        <collapsible-pane>
            <span class="collapsible-pane-title">Product</span>
            <div class="collapsible-pane-content">
                <ion-list class="navigation_icons">
                    <ion-item *ngFor="let p of plateforms" (click)="openPage(p);activePlateform=p" class="menu-name" [ngClass]="{'active-menu':activePlateform.id==p.id}">
                        <ion-icon name="checkmark" class="checkmark"></ion-icon>
                        <ion-label>{{p.name}}</ion-label>
                    </ion-item>
                </ion-list>
            </div>
        </collapsible-pane>
        <collapsible-pane>
            <span class="collapsible-pane-title">My Top 5 Customers</span>
            <div class="collapsible-pane-content">                
            </div>
        </collapsible-pane>
        <collapsible-pane>
            <span class="collapsible-pane-title">Preferences</span>
            <div class="collapsible-pane-content">
                <ion-list class="navigation_icons">
                    <ion-item *ngFor="let p of preference" class="menu-name">
                        <ion-label>{{p}}</ion-label>
                        <ion-checkbox checked="true"></ion-checkbox>
                    </ion-item>
                </ion-list>
            </div>
        </collapsible-pane>
        <ion-item class="menu-collapsible">Profile
        </ion-item>
        <div class="profile">
            <img class="profile_icon" src="img/classprofile.jpg">
            <ion-label class="label">My Profile</ion-label>
            <ion-label class="label">Help</ion-label>
            <ion-label class="label">Contact</ion-label>
            <ion-label class="label">Logout</ion-label>
        </div>
    </ion-content>
</ion-menu>
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
