.bar-button-default{
    background-color:rgb(66, 66, 66);
    color: #fff;
}

.navigation_icons {
    background-color: rgba(66, 66, 66, 0.58);    
    overflow-y: auto;
    .item-complex .item-content, item{
    background-color:white;
    }
}

.center {
    text-align: center;
    display: block;
}

.menu-name {
    background-color: #424242;
    color: white;
}

.custom_toolbar {
    background: #999;
}


.menu-list-container {
    background-color: #424242;
}

.label {
    font-size: 20px;
    color: white;
}

.profile {
    padding: 15px 20px;
    .profile_icon {
        width: 90px;
        height: 90px;
        border-radius: 50%;
    }
    &.close {
        padding: 0;
    }
}

.active-menu {
    background-color: #009edc;
    ion-icon{
        color:#fff;
    }
}
.checkmark{
    color:#424242;
    margin-right:5px;
}
