<ion-header>
    <ion-navbar>
        <button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Back2Basics</ion-title>
    </ion-navbar>
    <div class="page-header">
        <span class="title">{{pageTitle}}</span>
        <!-- <div>
            <span style="display:inline-block;">Last refresh</span>
            <span>{{lastRefreshed}}</span>
        </div> -->
    </div>
</ion-header>
<ion-content padding class="getting-started">
    <ion-list>
        <ion-card *ngFor="let c of cards" (tap)="itemTapped($event, c);" [hidden]="c.subCategories.length==0" (mousedown)="itemSelected=c" [ngClass]="{activated:itemSelected==c}">
            <ion-card-header class="card-header">
                {{c.name}}
            </ion-card-header>
            <ion-card-content>
                <ion-row wrap>
                    <div class="item-card" *ngFor="let v of c.subCategories">
                        <h1>{{v.value}}</h1>
                        <span>{{v.name}}</span>
                    </div>
                </ion-row>
            </ion-card-content>
        </ion-card>
    </ion-list>
</ion-content>
