.getting-started {
    p {
        margin: 20px 0;
        line-height: 22px;
        font-size: 16px;
    }
    .card-header {
        color: #009edc;
    }
    .activated{
    	background-color:#f2f2f2;
    }
}

.toolbar-title {
    color: #009edc;
}
.page-header{
	color:#fff;
	background-color:#009edc;
	height:48px;
	display:table;
	width:100%;
	padding:0 20px;	
	span{
		display: table-cell;
		vertical-align: middle;
		font-size: small;
		&.title{
			font-size: large;
		}
	}
	div{
		display: table-cell;
		vertical-align: middle;
	}	
}

ion-row > div.item-card{
	flex:1;
	border-right: 1px dotted gray;
	text-align: center;	
	&:last-child{
		border:none;
	}
}
