.summary-page {
    .menu-collapsible {
        color: #009edc;
    }
    div.wrraper-container {
        padding: 8px 16px;
        background-color: rgb(242, 243, 242);
    }
    .chart-container{
		margin: 0 -16px;	
	}
}

