<ion-content>
    <div class="screen">
        
 		<div class="logo">
 			<img src="../../img/B2B_AppIcon.png"/>

        </div>
        <div class="screen-labels" style="">
        <label class="Service-Provider-Label">Service Provider Business</label>
        <label class="Back2Basics-Label">Back2Basics</label>
        </div>
		
        <div style="position: absolute;left: 0;top:50%;width: 100%;text-align: center;">
			
			 <ion-item>
			   
			    <ion-input type="username" placeholder="Username"></ion-input>
			  </ion-item>

			  <ion-item>
			   
			    <ion-input type="password" border-radius="10px" placeholder="***********"></ion-input>
			  </ion-item>
            <label (click)="itemTapped($event)" class="login-btn">Sign In</label>
        </div>
		<div class="cisco-logo">
 			<img src="../../img/Cisco-Logo.png"/>

        </div>
    </div>
</ion-content>

